<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gearfish.medicalscanner"
    android:installLocation="auto"
    android:versionCode="10"
    android:versionName="2.5" >

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />

    <supports-screens
        android:anyDensity="false"
        android:largeScreens="false"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="false" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name=".Starter"
            android:label="@string/title_activity_starter" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".Scanner"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".Results"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".Processing"
            android:launchMode="singleTop" >
            >
        </activity>
        <activity
            android:name=".Database"
            android:label="singleTop" >
        </activity>
    </application>

</manifest>